<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan The Interview</title>
    <link rel="stylesheet" href="../styleSheets/styles.css">
</head>
<body>
    <home class="h-screen bg-details flex">
        <nav class="h-screen w-16 flex gap-5 flex-col items-center p-5 bg-primary shadow-lg">
            <div class="w-8 h-8 ">
                <img src="../Assets/PlanTheInterview.png" alt="">
            </div>
            <div class="w-8 h-8 ">
                <img src="../Assets/Candidate.png" alt="">
            </div>
            <div class="w-8 h-8 ">
                <img src="../Assets/Interviewer.png" alt="">
            </div>
            <div class="w-8 h-8 ">
                <img src="../Assets/Questions.png" alt="">
            </div>
        </nav>
        <div class="h-screen w-full relative flex justify-center items-center">
            <div class="Logout absolute bg-secondary top-5 right-5">
                <button class="h-12 w-32 bg-logoutBtn text-white rounded-lg shadow-lg">
                    Logout
                </button>
            </div>
            <span class=" absolute top-5 right-1/2 translate-x-1/2 text-5xl font-semibold">
                Interviewer
            </span>

            <div class="container w-[80%] p-6 h-[80%] shadow-lg rounded-lg border-2">
                

                <div class="card h-12 rounded-lg shadow-lg bg-primary flex gap-10 justify-between text-white px-10 items-center">
                    <span>Interviewer ID</span>
                    <span>Date</span>
                    <span>Time</span>
                </div>
            </div>

        </div>
    </home>
</body>
</html>