<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styleSheets/styles.css">
</head>
<body class="bg-zinc-700">
    <div class="h-96 bg-red-700">
        <h1 class="text-4xl track text-white">Hello World!!!</h1>
    </div>
    Radhe Radhe
</body>
</html>