<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan The Interview</title>
    <link rel="stylesheet" href="../styleSheets/styles.css">
</head>
<body>
    <home class="h-screen bg-details flex">
        <nav class="h-screen w-16 flex gap-5 flex-col items-center p-5 bg-primary shadow-lg">
            <!-- Plan The Interview Link -->
            <div class="w-8 h-8">
                <a href="/Admin/CreateTheInterview">
                    <img src="../Assets/PlanTheInterview.png" alt="Plan The Interview">
                </a>
            </div>
            <!-- Candidate Link -->
            <div class="w-8 h-8">
                <a href="/Admin/getAllApplicant">
                    <img src="../Assets/Candidate.png" alt="Candidate">
                </a>
            </div>
            <!-- Interviewer Link -->
            <div class="w-8 h-8">
                <a href="/Admin/GetAllInterview">
                    <img src="../Assets/Interviewer.png" alt="Interviewer">
                </a>
            </div>
            <!-- Questions Link -->
            <div class="w-8 h-8">
                <a href="/Admin/getAllQuestion">
                    <img src="../Assets/Questions.png" alt="Questions">
                </a>
            </div>
        </nav>
        <div class="h-screen w-full relative flex justify-center items-center">
            <div class="Logout absolute bg-secondary top-5 right-5">
                <button class="h-12 w-32 bg-logoutBtn text-white rounded-lg shadow-lg">
                    <a href="/">Logout</a>
                </button>
            </div>
            <span class=" absolute top-5 right-1/2 translate-x-1/2 text-5xl font-semibold">
                Questions
            </span>

            <div class="container flex flex-wrap justify-center items-center gap-7 overflow-x-hidden w-[80%] p-6 h-[80%] shadow-lg rounded-lg border-2">
                

                <div class="card h-fit w-80 p-5 rounded-lg gap-5 shadow-lg bg-primary justify-center text-white flex flex-col items-center">
                    <span>Question: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque tempore quidem porro explicabo minima.?</span>
                    <span>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. In, officia?</span>
                </div>
                <div class="card h-fit w-80 p-5 rounded-lg gap-5 shadow-lg bg-primary justify-center text-white flex flex-col items-center">
                    <span>Question: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque tempore quidem porro explicabo minima.?</span>
                    <span>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. In, officia?</span>
                </div>
                <div class="card h-fit w-80 p-5 rounded-lg gap-5 shadow-lg bg-primary justify-center text-white flex flex-col items-center">
                    <span>Question: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque tempore quidem porro explicabo minima.?</span>
                    <span>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. In, officia?</span>
                </div>
                <div class="card h-fit w-80 p-5 rounded-lg gap-5 shadow-lg bg-primary justify-center text-white flex flex-col items-center">
                    <span>Question: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque tempore quidem porro explicabo minima.?</span>
                    <span>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. In, officia?</span>
                </div>
                <div class="card h-fit w-80 p-5 rounded-lg gap-5 shadow-lg bg-primary justify-center text-white flex flex-col items-center">
                    <span>Question: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque tempore quidem porro explicabo minima.?</span>
                    <span>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. In, officia?</span>
                </div>
                <div class="card h-fit w-80 p-5 rounded-lg gap-5 shadow-lg bg-primary justify-center text-white flex flex-col items-center">
                    <span>Question: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque tempore quidem porro explicabo minima.?</span>
                    <span>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. In, officia?</span>
                </div>
                <div class="card h-fit w-80 p-5 rounded-lg gap-5 shadow-lg bg-primary justify-center text-white flex flex-col items-center">
                    <span>Question: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque tempore quidem porro explicabo minima.?</span>
                    <span>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. In, officia?</span>
                </div>
                <div class="card h-fit w-80 p-5 rounded-lg gap-5 shadow-lg bg-primary justify-center text-white flex flex-col items-center">
                    <span>Question: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque tempore quidem porro explicabo minima.?</span>
                    <span>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. In, officia?</span>
                </div>
                <div class="card h-fit w-80 p-5 rounded-lg gap-5 shadow-lg bg-primary justify-center text-white flex flex-col items-center">
                    <span>Question: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque tempore quidem porro explicabo minima.?</span>
                    <span>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. In, officia?</span>
                </div>
                <div class="card h-fit w-80 p-5 rounded-lg gap-5 shadow-lg bg-primary justify-center text-white flex flex-col items-center">
                    <span>Question: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque tempore quidem porro explicabo minima.?</span>
                    <span>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. In, officia?</span>
                </div>
                <div class="card h-fit w-80 p-5 rounded-lg gap-5 shadow-lg bg-primary justify-center text-white flex flex-col items-center">
                    <span>Question: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque tempore quidem porro explicabo minima.?</span>
                    <span>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. In, officia?</span>
                </div>
                <div class="card h-fit w-80 p-5 rounded-lg gap-5 shadow-lg bg-primary justify-center text-white flex flex-col items-center">
                    <span>Question: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque tempore quidem porro explicabo minima.?</span>
                    <span>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. In, officia?</span>
                </div>
            </div>

        </div>
    </home>
</body>
</html>